body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ededed;
    color: #333;
    font-family: 'Roboto', sans-serif;
}

#title {
    font-size: 80px;
    font-weight: 700;
    margin-bottom: 20px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fefefe;
    box-shadow: 0px 8px 20px #0000002d;
    border-radius: 25px;
    padding: 50px;
    gap: 30px;
}

#button-container {
    display: flex;
    justify-content: center;
    gap: 30px;
}

button {
    width: 100px;
    height: 50px;
    font-size: 26px;
    background-color: #fefefe;
    color: #333;
    border: none;
    border-radius: 50px;
    box-shadow: 0px 8px 15px #0000001f;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

button:hover {
    background-color: #2b96dda8;
    box-shadow: 0px 15px 20px #3978b366;
    transform: translateY(-7px);
}

button:active {
    box-shadow: 0px 8px 15px #0000001f;
    transform: translateY(3px);
}

#result-container {
    display: flex;
    align-self: stretch;
    justify-content: center;
    box-shadow: 0px 8px 15px #0000001f;
    border-radius: 40px;
    padding: 10px 15px;
    font-size: 20px;
}

#selection-container {
    display: flex;
    align-self: stretch;
    justify-content: space-between;
    flex-shrink: 0;
    font-size: 20px;
}

#player-selection, 
#computer-selection {
    background-color: #fefefe;
    padding: 10px 15px;
    border-radius: 40px;
    box-shadow: 0px 8px 15px #0000001f;
}

#score-container {
    display: flex;
    justify-content: space-between;
    align-self: stretch;
    font-size: 24px;
    font-weight: 700;
}

#player-score-container,
#computer-score-container {
    display: flex;
    gap: 5px;
}
